@font-face {
    font-family: est-reg;
    src: url(../Assets/fonts/Estedad-Regular.woff2);
}
@font-face {
    font-family: est-lit;
    src: url(../Assets/fonts/Estedad-Light.woff2);
}
@font-face {
    font-family: est-bld;
    src: url(../Assets/fonts/Estedad-Bold.woff2);
}
@font-face {
    font-family: est-blc;
    src: url(../Assets/fonts/Estedad-Black.woff2);
}